.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.result {
  position: absolute;
  margin-left: 40%;
  color: red;
  height: 25px;
  font-size: 25px;
  margin-top: 5px;
}